<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="XmlServerSoapBinding" closeTimeout="00:01:00"
                openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                useDefaultWebProxy="true" messageEncoding="Text">
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                <security mode="None">
                    <transport clientCredentialType="None" proxyCredentialType="None"
                        realm="" />
                    <message clientCredentialType="UserName" algorithmSuite="Default" />
                </security>
            </binding>
            <binding name="BasicHttpBinding_IRqlWebService" />
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="XmlServerSoapBinding"
            contract="RedDotCmsXmlServer.XmlServerSoapPort" name="XmlServerSoapPort" />
        <endpoint address="http://10.1.1.32/CMS/WebService/RqlWebService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRqlWebService"
            contract="RedDotCmsXmlServer.IRqlWebService" name="BasicHttpBinding_IRqlWebService" />
    </client>
  </system.serviceModel>
</configuration>